@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    height: 60px;
    z-index: 2;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-right {
    justify-content: flex-end;
}

/* Remove underline from links */
.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a p {
    margin: 0;
}
